@using LuxtourOnline.WebUI;

@model LuxtourOnline.Models.ListUserModel

@{
    ViewBag.Title = "Users";
    Layout = "~/Views/Shared/_ManagerLayout.cshtml";
}
<div class="mdl-grid app-anim" style="max-width: 1200px; margin: 0 auto;" ng-app="UsersApp" ng-controller="UsersCtrl">
    <div class="mdl-cell mdl-cell--12-col">
        <span class="mdl-typography--headline-color-contrast">
            Users list
        </span>
        <div style="float:right;">
            <button role="button" class="mdl-button mdl-js-button" ng-click="SearchVisible = !SearchVisible">Search</button>
            <a href="/User/Create" class="mdl-button mdl-js-button mdl-button--primary mdl-button--raised">Create new</a>
        </div>
    </div>
    <div class="mdl-cell mdl-cell--12-col app-seach-box" ng-show="SearchVisible">
        @using (Html.BeginForm("UserList", "User", FormMethod.Get, new { @style = "float: right;" }))
        {
            <div class="mdl-textfield mdl-js-textfield" style="width:200px;">
                <input type="text" name="fullname" class="mdl-textfield__input" id="fullname">
                <label for="fullname" class="mdl-textfield__label">Name</label>
            </div>
            <div class="mdl-textfield mdl-js-textfield" style="width:200px;">
                <input type="text" name="email" class="mdl-textfield__input" id="email">
                <label for="email" class="mdl-textfield__label">Email</label>
            </div>
            <div class="mdl-textfield mdl-js-textfield" style="width:200px;">
                <input type="number" name="phone" class="mdl-textfield__input" id="phone">
                <label for="phone" class="mdl-textfield__label">Phone</label>
            </div>



            <div class="mdl-textfield mdl-js-textfield" style="width:200px;">
                <select class="mdl-textfield__input" name="role" id="role">
                    <option value=""></option>
                    <option value="user">User</option>
                    <option value="agent"> Agent </option>
                    <option value="content_manager">Content Manager</option>
                    <option value="manager"> Manager </option>
                    <option value="admin"> Administrator </option>
                </select>
                <label for="role" class="mdl-textfield__label">Role</label>
            </div>


            <input type="submit" name="Search" value="Search" class="mdl-button mdl-js-button">
        }

    </div>
    <div class="mdl-cell--12-col">
        <table class="mdl-data-table" style="width:100%;">
            <thead>
                <tr>
                    <th class="mdl-data-table__cell--non-numeric">FullName</th>
                    <th class="mdl-data-table__cell--non-numeric">Email</th>
                    <th class="mdl-data-table__cell--non-numeric">Phone Number</th>
                    <th class="mdl-data-table__cell--non-numeric">Roles</th>
                    <th class="mdl-data-table__cell--non-numeric">Registered</th>
                    <th class="mdl-data-table__cell--non-numeric">Allow tel grub</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var user in Model.Users)
                {
                    <tr>
                        <td class="mdl-data-table__cell--non-numeric">@Html.DisplayFor(x => user.FullName)</td>
                        <td class="mdl-data-table__cell--non-numeric">@Html.DisplayFor(x => user.Email)</td>
                        <td class="mdl-data-table__cell--non-numeric">@Html.DisplayFor(x => user.PhoneNumber)</td>
                        <td class="mdl-data-table__cell--non-numeric">@Html.DisplayFor(x => user.Roles)</td>
                        <td class="mdl-data-table__cell--non-numeric">@Html.DisplayFor(x => user.CreatedDate)</td>
                        <td class="mdl-data-table__cell--non-numeric">@user.AllowTelGrub</td>
                        <td class="mdl-data-table__cell--non-numeric">

                            <a href="@Url.Action("Update", new { id = user.Id })" class="mdl-button mdl-js-button mdl-button--icon">
                                <i class="material-icons mdl-color-text--orange-500">update</i>
                            </a>

                            <a href="@Url.Action("ToggleAllowTelGrub", new { userId = user.Id })" class="mdl-button mdl-js-button mdl-button--icon">
                                <i class="material-icons mdl-color-text--green-500">call</i>
                            </a>

                            <a href="@Url.Action("Remove", new { id = user.Id})" class="mdl-button mdl-js-button mdl-button--icon">
                                <i class="material-icons mdl-color-text--red">delete</i>
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div class="mdl-cell mdl-cell--12-col">
        @Html.PageLinks(Model.Paging, x => Url.Action("UserList", new { page = x }))
    </div>
</div>

@section Scripts
{
    <script>

        var app = angular.module("UsersApp", ['ngAnimate']);

        app.controller("UsersCtrl", ['$scope', function ($scope) {
            $scope.SearchVisible = false;
        }]);

    </script>
}