<!DOCTYPE html>
<html>
<head>
    @Html.Partial("_logo")

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <!-- <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />-->
    <!-- <link rel="stylesheet" href="~/Content/mdl-v1.1.2/material.min.css"> -->
    <!-- Internet <link rel="stylesheet" href="https://code.getmdl.io/1.2.1/material.amber-light_blue.min.css"> -->
    <link rel="stylesheet" type="text/css" href="~/Content/mdl-v1.1.2/material.amber-light_blue.min.css" />

    <script src="~/Content/mdl-v1.1.2/material.min.js"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
    <link rel="stylesheet" href="~/Content/mdl-v1.1.2/icon.css" />
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:300,400,500,700" type="text/css">
    <link rel="stylesheet" type="text/css" href="~/Content/Home.css" />
    @RenderSection("Style", false)

    <script src="~/Scripts/modernizr-2.8.3.js"></script>

    <!-- Debug only! Change after reliase! -->
    <meta name="description" content="Luxtour online. First online tour operator" />

    <!-- Azure Insights -->

    @*<script type="text/javascript">
        var appinsights = window.appinsights || function (config) {
            function i(config) { t[config] = function () { var i = arguments; t.queue.push(function () { t[config].apply(t, i) }) } } var t = { config: config }, u = document, e = window, o = "script", s = "authenticatedusercontext", h = "start", c = "stop", l = "track", a = l + "event", v = l + "page", y = u.createelement(o), r, f; y.src = config.url || "https://az416426.vo.msecnd.net/scripts/a/ai.0.js"; u.getelementsbytagname(o)[0].parentnode.appendchild(y); try { t.cookie = u.cookie } catch (p) { } for (t.queue = [], t.version = "1.0", r = ["event", "exception", "metric", "pageview", "trace", "dependency"]; r.length;) i("track" + r.pop()); return i("set" + s), i("clear" + s), i(h + a), i(c + a), i(h + v), i(c + v), i("flush"), config.disableexceptiontracking || (r = "onerror", i("_" + r), f = e[r], e[r] = function (config, i, u, e, o) { var s = f && f(config, i, u, e, o); return s !== !0 && t["_" + r](config, i, u, e, o), s }), t
        }({
            instrumentationkey: "1df4bbe1-2789-4a32-b259-60eee77d4cce"
        });

        window.appinsights = appinsights;
        appinsights.trackpageview();
    </script>*@

</head>
<body>
    @Html.Partial("_Facebook")
    <!-- Always shows a header, even in smaller screens. -->
    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header mdl-layout--no-desktop-drawer-button">
        <header id="head" class="mdl-layout__header">
            <!-- <div class="mdl-layout-icon"></div> -->
            <div class="mdl-layout__header-row">
                <!-- Title -->

                <div class="mdl-layout-title"><img src="~/Content/Resources/logo.png" /></div>
                <!-- Add spacer, to align navigation to the right -->
                <div class="mdl-layout-spacer"></div>
                <!-- Navigation. We hide it in small screens. -->
                <nav class="mdl-navigation mdl-cell--hide-phone app-hide-tablet">

                    @Html.ActionLink("Home", "Index", "Home", new { language = ViewBag.Lang }, new { @class = "mdl-navigation__link" })
                    @Html.ActionLink("Tours", "Tours", "Home", new { language = ViewBag.Lang }, new { @class = "mdl-navigation__link" })
                    @Html.ActionLink("News", "News", "Home", new { language = ViewBag.Lang }, new { @class = "mdl-navigation__link" })
                    @Html.ActionLink("Contacts", "Contacts", "Home", new { language = ViewBag.Lang }, new { @class = "mdl-navigation__link" })
                    <a href="#" id="LayoutLanguage" class="mdl-navigation__link">
                        Language
                    </a>
                    <ul class="mdl-menu mdl-menu--bottom-left mdl-js-menu mdl-js-ripple-effect"
                        for="LayoutLanguage">
                        <li class="mdl-menu__item">@Html.ActionLink("English", "Index", "Home", new { language = "en" }, new { @class = "mdl-navigation__link" })</li>
                        <li class="mdl-menu__item">@Html.ActionLink("Ukranian", "Index", "Home", new { language = "uk" }, new { @class = "mdl-navigation__link" })</li>
                        <li class="mdl-menu__item">@Html.ActionLink("Russian", "Index", "Home", new { language = "ru" }, new { @class = "mdl-navigation__link" })</li>
                    </ul>
                    @if (User.Identity.IsAuthenticated)
                    {
                        @Html.ActionLink("SignOut", "Login", "User", null, new { @class = "mdl-navigation__link" })
                    }
                </nav>
            </div>
        </header>



        <div class="mdl-layout__drawer">
            <span class="mdl-layout-title">Menu</span>
            <nav class="mdl-navigation">
                @Html.ActionLink("Home", "Index", "Home", null, new { @class = "mdl-navigation__link" })
                @Html.ActionLink("Tours", "Tours", "Home", null, new { @class = "mdl-navigation__link" })
                @Html.ActionLink("News", "News", "Home", null, new { @class = "mdl-navigation__link" })
                @Html.ActionLink("Contacts", "Contacts", "Home", null, new { @class = "mdl-navigation__link" })

                @Html.Partial("_ViewSwitcher")
            </nav>
        </div>

        <main id="content" class="mdl-layout__content">
            <div class="page-content">
                @RenderBody()
            </div>
            <footer class="mdl-mega-footer">
                @*
                    <div class="mdl-mega-footer__top-section">
                        <div class="mdl-mega-footer__left-section">
                            <button class="mdl-mega-footer__social-btn">Facebook</button>
                            <button class="mdl-mega-footer__social-btn">Vkontakte</button>
                            <button class="mdl-mega-footer__social-btn">Twitter</button>
                        </div>
                        <div class="mdl-mega-footer__right-section">
                            <a href="">To partnert</a>
                            <a href="">Link 2</a>
                            <a href="">Link 3</a>
                        </div>

                    </div>
                *@
                <div class="mdl-mega-footer__middle-section">
                    @*<div class="mdl-mega-footer__drop-down-section">
                            <h1 class="mdl-mega-footer__heading">Heading </h1>
                            <ul class="mdl-mega-footer__link-list">
                                <li><a href="">Link A</a></li>
                                <li><a href="">Link B</a></li>
                            </ul>
                        </div>*@
                    <div class="mdl-mega-footer__drop-down-section">
                        <h1 class="mdl-mega-footer__heading mdl-typography--font-regular">Luxtour.online </h1>
                        <ul class="mdl-mega-footer__link-list">
                            <li style="font-size: 16px;">78001, city Lviv, Oprishkivska street, 3</li>
                            <li style="font-size: 16px;">+38095-gotoanothertouroperator</li>
                        </ul>
                    </div>
                    <div class="mdl-mega-footer__drop-down-section mdl-typography--text-center">
                        <h1 class="mdl-mega-footer__heading mdl-typography--font-bold">Партнерам </h1>
                        <ul class="mdl-mega-footer__link-list mdl-color-text--primary">
                            <li><a href="@Url.Action("Index", "Partner")">Для турфірм</a></li>
                            <li><a href="@Url.Action("Index", "Agent")">Для Агентів</a></li>
                            <li><a href="@Url.Action("Index", "Partner")">Франшиза</a></li>
                        </ul>
                    </div>
                    <div class="mdl-mega-footer__drop-down-section mdl-typography--text-center">
                        <h1 class="mdl-mega-footer__heading mdl-typography--font-bold">Ваш відпочинок</h1>
                        <ul class="mdl-mega-footer__link-list mdl-color-text--primary">
                            <li><a href="@Url.Action("Tour")">Тури</a></li>
                            <li><a href="@Url.Action("News")">Новини</a></li>
                        </ul>
                    </div>
                    <form id="footer-form" class="mdl-cell--hide-tablet mdl-cell--hide-phone">
                        <div class="mdl-typography--headline mdl-color-text--primary mdl-typography--text-center">Замовити дзвінок</div>
                        <div style="padding-top: 10px;">
                            <i class="material-icons">person</i>
                            <div class="mdl-textfield">
                                <input type="text" id="FooterName" placeholder="Your Name" class="mdl-textfield__input" name="FooterName" />
                            </div>
                        </div>
                        <div>
                            <i class="material-icons">call</i>
                            <div class="mdl-textfield">
                                <input type="number" id="FooterPhone" placeholder="Your phone number" class="mdl-textfield__input" name="FooterName" />
                            </div>
                        </div>
                        <button type="button" class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-color-text--white mdl-button--raised mdl-button--accent">
                            Подзвоніть мені!
                        </button>
                    </form>
                </div>

            </footer>
        </main>
    </div>

    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
    <script src="~/Scripts/jquery-3.1.0.min.js"></script>
    <!-- <script src="~/Scripts/bootstrap.min.js"></script> -->
    <script src="~/Scripts/angular.js"></script>
    <script src="~/Scripts/angular-route.js"></script>
    <script src="~/Scripts/angular-animate.js"></script>
    @RenderSection("Scripts", false)

    
    <!--

                         Tb.          Tb.                                
                     :$$b.        $$$b.                              
                     :$$$$b.      :$$$$b.                            
                     :$$$$$$b     :$$$$$$b                           
                      $$$$$$$b     $$$$$$$b                          
                      $$$$$$$$b    :$$$$$$$b                         
                      :$$$$$$$$b---^$$$$$$$$b                        
                      :$$$$$$$$$b        ""^Tb                       
                       $$$$$$$$$$b    __...__`.                      
                       $$$$$$$$$$$b.g$$$$$$$$$pb                     
                       $$$$$$$$$$$$$$$$$$$$$$$$$b                    
                       $$$$$$$$$$$$$$$$$$$$$$$$$$b                   
                       :$$$$$$$$$$$$$$$$$$$$$$$$$$;                  
                       :$$$$$$$$$$$$$^T$$$$$$$$$$P;                  
                       :$$$$$$$$$$$$$b  "^T$$$$P' :                  
                       :$$$$$$$$$$$$$$b._.g$$$$$p.db                 
                       :$$$$$$$$$$$$$$$$$$$$$$$$$$$$;                
                       :$$$$$$$$"""^^T$$$$$$$$$$$$P^;                
                       :$$$$$$$$       ""^^T$$$P^'  ;                
                       :$$$$$$$$    .'       `"     ;                
                       $$$$$$$$;   /                :                
                       $$$$$$$$;           .----,   :                
                       $$$$$$$$;         ,"          ;               
                       $$$$$$$$$p.                   |               
                      :$$$$$$$$$$$$p.                :               
                      :$$$$$$$$$$$$$$$p.            .'               
                      :$$$$$$$$$$$$$$$$$$p...___..-"                 
                      $$$$$$$$$$$$$$$$$$$$$$$$$;                     
   .db.          bug  $$$$$$$$$$$$$$$$$$$$$$$$$$                     
  d$$$$bp.            $$$$$$$$$$$$$$$$$$$$$$$$$$;                    
 d$$$$$$$$$$pp..__..gg$$$$$$$$$$$$$$$$$$$$$$$$$$$                    
d$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$p._            .gp. 
$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$p._.ggp._.d$$$$b

        
        -->
</body>
</html>