
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Manager</title>
    <!-- <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />-->
    <link href="~/Content/Manager.css" rel="stylesheet" />

    <!-- <link rel="stylesheet" href="~/Content/mdl-v1.1.2/material.min.css"> -->
     <link rel="stylesheet" href="https://code.getmdl.io/1.2.1/material.amber-light_blue.min.css"> 
    
    <script src="~/Content/mdl-v1.1.2/material.min.js"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/Manager.css" type="text/css" rel="stylesheet" />
    @RenderSection("Style", false)

    <script src="~/Scripts/modernizr-2.8.3.js"></script>
</head>
<body>

    <!-- Always shows a header, even in smaller screens. -->
    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
        <header class="mdl-layout__header">
            <!-- <div class="mdl-layout-icon"></div>-->
            <div class="mdl-layout__header-row">
                <!-- Title -->
                <span class="mdl-layout-title">Manager</span>
                <!-- Add spacer, to align navigation to the right -->
                <div class="mdl-layout-spacer"></div>
                <!-- Navigation. We hide it in small screens. -->
                <nav class="mdl-navigation">
                    @Html.ActionLink("Home", "Index", "Manager", null, new { @class = "mdl-navigation__link" })
                    @Html.ActionLink("Tours", "TourList", "Manager", null, new { @class = "mdl-navigation__link" })
                    @Html.ActionLink("Hotels", "HotelsList", "Manager", null, new { @class = "mdl-navigation__link" })
                    <a href="#" id="LayoutLanguage" class="mdl-navigation__link">
                        Language
                    </a>

                    <ul class="mdl-menu mdl-menu--bottom-left mdl-js-menu mdl-js-ripple-effect"
                        for="LayoutLanguage">
                        <li class="mdl-menu__item">@Html.ActionLink( "English",  "ChangeLanguage",  "User",  new {lang = "en", Action = ViewContext.RouteData.Values["action"], Controller = ViewContext.RouteData.Values["controller"] }, new { })</li>
                        <li class="mdl-menu__item">@Html.ActionLink("Ukranian", "ChangeLanguage", "User", new {lang="uk", Action = ViewContext.RouteData.Values["action"], Controller = ViewContext.RouteData.Values["controller"] }, new { })</li>
                        <li class="mdl-menu__item">@Html.ActionLink("Russian", "ChangeLanguage", "User", new { lang = "ru", Action = ViewContext.RouteData.Values["action"], Controller = ViewContext.RouteData.Values["controller"] }, new { })</li>
                    </ul>
                    @Html.ActionLink("SignOut", "Login", "User", null, new { @class= "mdl-navigation__link" })
                </nav>
            </div>
        </header>
        
        <div class="mdl-layout__drawer">
            <span class="mdl-layout-title">Menu</span>
            <nav class="mdl-navigation">
                @Html.ActionLink("Add hotel", "EditHotel", "Manager", null, new { @class = "mdl-navigation__link" })
                
            </nav>
        </div>
        
        <main class="mdl-layout__content">
            <div class="page-content">
                @RenderBody()
            </div>
            <footer class="app-footer-absolute-bottom">
                <p>&copy; @DateTime.Now.Year - LuxtourOnline</p>
            </footer>
        </main>
    </div>

    <script src="~/Scripts/jquery-3.1.0.min.js"></script>
    <!-- <script src="~/Scripts/bootstrap.min.js"></script> -->
    <script src="~/Scripts/angular.min.js"></script>
    <script src="~/Scripts/angular-route.min.js"></script>
    <script src="~/Scripts/angular-animate.min.js"></script>
    @RenderSection("Scripts", false)
</body>
</html>