@model List<LuxtourOnline.Models.Manager.ManagerHotelList>
@{
    ViewBag.Title = "HotelsList";
    Layout = "~/Views/Shared/_ManagerLayout.cshtml";
}
<div ng-app="AppList" ng-controller="ListCtrl">

    <div class="mdl-grid">
        <div class="mdl-cell mdl-cell--12-col">
            <span class="mdl-typography--display-1-color-contrast">Hotel list</span>
            @Html.ActionLink("Create hotel", "EditHotel", new { id = -1}, new { @class= "mdl-button mdl-js-button mdl-button--raised mdl-button--primary", @style="float:right;"})

        </div>

        @foreach (var hotel in Model)
        {
            <div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--3-col-desktop mdl-cell--4-col-tablet mdl-cell--6-col-phone">
                <div class="mdl-card__title" style="height: 300px; background-image: url(@Url.Content(hotel.ImageUrl)); background-size: cover;">
                    <div class="mdl-card__title-text app-card__title-text">
                        @Html.DisplayFor(x => hotel.Title)
                    </div>
                </div>

                <div class="mdl-card__subtitle-text mdl-color-text--blue-A400">
                    <strong>@Html.LabelFor(x => hotel.Avaliable)</strong>: @Html.DisplayFor(x => hotel.Avaliable)<br>
                    <strong>@Html.LabelFor(x => hotel.ModifyDate)</strong>: @Html.DisplayFor(x => hotel.ModifyDate)<br>
                    <strong>@Html.LabelFor(x => hotel.CreationDate)</strong>: @Html.DisplayFor(x => hotel.CreationDate)<br>
                    <strong>@Html.LabelFor(x => hotel.ModifyUser)</strong>: @Html.DisplayFor(x => hotel.ModifyUser)<br>
                </div>
                <div class="mdl-card__supporting-text mdl-card--border">
                    @Html.DisplayFor(x => hotel.Description)
                </div>
                <div class="mdl-card__menu">
                    <button class="mdl-button mdl-js-button mdl-button--icon">
                        <i class="material-icons">edit</i>
                    </button>
                    <button class="mdl-button mdl-js-button mdl-button--icon">
                        <i class="material-icons">visibility</i>
                    </button>
                </div>
                <div class="mdl-card__actions mdl-card--border">
                    @Html.ActionLink("Remove", "RemoveHotel", new { id = hotel.Id }, new { @class = "mdl-button mdl-js-button mdl-button--colored mdl-color--red mdl-color-text--white" })
                </div>
            </div>
        }

    </div>
</div>




@section Scripts
{
    <script>
        var app = angular.module('AppList', []);

        app.controller('ListCtrl', ['$scope', function ($scope) {
            $scope.CurrentHotel = -1;

            $scope.HotelClick = function (id) {
                if ($scope.CurrentHotel == id)
                    $scope.CurrentHotel = -1;
                else
                    $scope.CurrentHotel = id;
            }
        }]);
    </script>
}

