@model List<LuxtourOnline.Models.Manager.ManagerHotelList>
@{
    ViewBag.Title = "HotelsList";
    Layout = "~/Views/Shared/_ManagerLayout.cshtml";
}

<div class="page-header">
    HotelsList
</div>

<span>
    <h3>
        @Html.ActionLink("Create new", "EditHotel")
    </h3>
</span>
<div class="row">
    <div class="col-xs-12">
        <form method="get" class="form-inline">
            <div class="form-group">
                <label class="control-label" for="lang">Language:</label>
                <select name="lang" id="lang" class="form-control">
                    <option value=""></option>
                    <option value="en">English</option>
                    <option value="uk">Ukranian</option>
                    <option value="ru">Russian</option>
                </select>
                <button type="submit" class="btn btn-info">Change</button>
            </div>
        </form>
    </div>
</div>
<div class="row">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Title</th>
                <th>Avaliable</th>
                <th>Rate</th>
                <th>Description</th>
                <th>LastModify</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var hotel in Model)
            {
                <tr>
                    <td>@hotel.Title</td>
                    <td>@hotel.Avaliable</td>
                    <td>@hotel.Rate</td>
                    <td>@hotel.Description</td>
                    <td>
                        @if (hotel.ModifyDate == null)
                        {
                            @hotel.CreationDate
                        }
                        else
                        {
                            @hotel.ModifyDate
                        }
                    </td>
                    <td>
                        <a href="" target="_self">Display</a> | @Html.ActionLink("Edit", "EditHotel", new { @id = hotel.Id }) |@Html.ActionLink("Remove", "RemoveHotel", new { @id = hotel.Id})
                    </td>  
                </tr>
            }
        </tbody>
    </table>
</div>
